In [1]:
import pandas as pd

In [2]:
#Se carga el dataset de homicidios_victimas
df_homicidios_victimas=pd.read_excel('raw_data\homicidios.xlsx', sheet_name='VICTIMAS', engine='openpyxl')
df_homicidios_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

Normalizacion en nombres de columnas

In [3]:
#Se pasan a minusculas los nombres de las columnas
df_homicidios_victimas.columns = df_homicidios_victimas.columns.str.lower()
df_homicidios_victimas.head()

,id_hecho,fecha,aaaa,mm,dd,rol,victima,sexo,edad,fecha_fallecimiento
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [4]:
#Se elimina la columna fecha_fallecimiento ya que no es relevante en nuestro analisis
df_homicidios_victimas.drop(columns='fecha_fallecimiento', inplace=True)

Tratamiento de valores faltantes y duplicados

In [5]:
#Se identifiacn valores faltantes por columna
df_homicidios_victimas.isnull().sum()

id_hecho    0
fecha       0
aaaa        0
mm          0
dd          0
rol         0
victima     0
sexo        0
edad        0
dtype: int64

In [6]:
#Se verifica la existencia de registros duplicados
df_homicidios_victimas[df_homicidios_victimas.duplicated()]

Empty DataFrame
Columns: [id_hecho, fecha, aaaa, mm, dd, rol, victima, sexo, edad]
Index: []

Se guarda el dataset limpio en formato csv

In [8]:
df_homicidios_victimas[df_homicidios_victimas['sexo']=='FEMENINO']

,id_hecho,fecha,aaaa,mm,dd,rol,victima,sexo,edad
10,2016-0015,2016-02-14,2016,2,14,PEATON,PEATON,FEMENINO,16
11,2016-0016,2016-02-14,2016,2,14,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,19
13,2016-0019,2016-02-17,2016,2,17,PEATON,PEATON,FEMENINO,65
31,2016-0043,2016-03-30,2016,3,30,PEATON,PEATON,FEMENINO,56
35,2016-0048,2016-04-15,2016,4,15,PEATON,PEATON,FEMENINO,SD
...,...,...,...,...,...,...,...,...,...
696,2021-0077,2021-10-18,2021,10,18,CONDUCTOR,MOTO,FEMENINO,31
707,2021-0087,2021-11-27,2021,11,27,PEATON,PEATON,FEMENINO,73
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43

In [18]:
df_homicidios_victimas.to_csv('processed_data/homicidios_victimas.csv', index=False)