In [1]:
import pandas as pd

In [16]:
#Se carga el archivo csv
df_poblacion=pd.read_csv('raw_data\informacion-censal-por-radio-2010.csv')
df_poblacion.head()

,WKT,ID,CO_FRAC_RA,COMUNA,FRACCION,RADIO,TOTAL_POB,T_VARON,T_MUJER,T_VIVIENDA,V_PARTICUL,V_COLECTIV,T_HOGAR,H_CON_NBI,H_SIN_NBI
0,MULTIPOLYGON (((-58.372489764082 -34.591546570...,1,1_1_1,1,1,1,336,212,124,82,80,2,65,19,46
1,MULTIPOLYGON (((-58.3865223305709 -34.60399309...,2,1_12_1,1,12,1,341,184,157,365,361,4,116,25,91
2,MULTIPOLYGON (((-58.3793832787935 -34.60483817...,3,1_12_10,1,12,10,296,162,134,629,627,2,101,1,100
3,MULTIPOLYGON (((-58.3679211414675 -34.60517426...,4,1_12_11,1,12,11,528,294,234,375,370,5,136,7,129
4,MULTIPOLYGON (((-58.3851326494337 -34.60391158...,5,1_12_2,1,12,2,229,101,128,445,445,0,129,16,113

In [17]:
#Se extraen las columnas necesarias
df_poblacion=df_poblacion[['COMUNA','TOTAL_POB']]
df_poblacion.columns=df_poblacion.columns.str.lower()

In [18]:
#Se agrupa por comunas
df_poblacion=df_poblacion.groupby('comuna')['total_pob'].sum().reset_index()
df_poblacion

    comuna  total_pob
0        1     205991
1        2     157827
2        3     187537
3        4     218245
4        5     179005
5        6     176076
6        7     220591
7        8     187237
8        9     161797
9       10     166022
10      11     189832
11      12     200116
12      13     231331
13      14     225970
14      15     182574

In [20]:
#Se exporta el archivo csv
df_poblacion.to_csv('processed_data/poblacion.csv',index=False)